@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
*{
    background-color: #D0CAB2;   
}
.box1{
    background-color: #208177;
    width: 75%;
    height: 25%;
    position:absolute;
    margin-left: 7%;
}
.box2{
    background-color: #ffffff;
    width: 80%;
    height: 30%;
    position:absolute;
    z-index: 10;
    margin-top: 2%;
}
.box3{
    background-color: #208177;
    width: 25%;
    height: 25%;
    position:absolute;
}
.box4{
    background-color: #ffffff;
    width: 30%;
    height: 30%;
    position:absolute;
    z-index: 10;
    margin-top: 2%;
    margin-left: 1.4%;
}

