@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
*{
    background-color: #D0CAB2;   
}
.box1{
    background-color: #208177;
    width: 75%;
    height: 32%;
    position:absolute;
    margin-left: 7%;
}
.box2{
    background-color: #ffffff;
    width: 80%;
    height: 37%;
    position:absolute;
    z-index: 10;
    margin-top: 2%;
}
.box3{
    background-color: #208177;
    width: 75%;
    height: 55%;
    position:absolute;
}
.box4{
    background-color: #ffffff;
    width: 80%;
    height: 60%;
    position:absolute;
    z-index: 10;
    margin-top: 2%;
    margin-left: 2%;
}
.box5{
    background-color: #208177;
    width: 45%;
    height: 35%;
    position:absolute;
    margin-left: 7%;
}
.box6{
    background-color: #ffffff;
    width: 50%;
    height: 40%;
    position:absolute;
    z-index: 10;
    margin-top: 2%;
}

  
